//typography

h2, .footer {
  font-family: 'Oswald', Helvetica;

}

body {
  animation: fadeIn .8s;
  background-color: #333;
  background-image: url('../img/diamond.png');
}

.logo {
  background-image: url('../img/logo.svg');
  width: 200px;
}
