
.accordion {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin: .5em;
  max-width: 600px;
  border-radius: .2em;
  background-color: white;
  box-shadow: 1px 2px 5px grey;

  ul {
    background-color: white;
    border-radius: .2em;
    margin: 0;
    list-style-type: none;
    padding: 0;
    li {
      padding: 0 1em;
      display: inline-block;
      width: 50%;
    }
  }

  ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: .6em;
    
    }
  }

  .glyphicon-check {
    color: #35CE0C;
  }
  .glyphicon-unchecked {
    color: #222;
  }


}

.panel-heading {
  padding: .5em;
  border: 1px solid #222;
}

.notes {
  ul {
    li {
      width: 100%;
      display: block;
    }
  }
}
