.confirmation {
  color: white;
  height: 100px;
  width: 100%;
  background-color: #222;
  position: fixed;
  bottom: 0;
  ul {
    list-style-type: none;
    li {
      margin-top: .5em;
      display: inline-block;
      width: 50%;
      button {
        color: #222;
        float: right;
      }
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  margin: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
}


#messages {
  width: 100%;
}
